{% extends 'home.html' %}
{% load static %}
{% block navbar %}{% endblock navbar %}
{% block banner %}{% endblock %}
{% block bodies %}

<div class="d-flex align-items-center justify-content-center">
      
          <img src="https://internetdevels.com/sites/default/files/public/blog_preview/404_page_cover.jpg" alt=""
              class="img-fluid" style="width:100%; height:750px;">
      
</div>
{% comment %} 
      <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a> {% endcomment %}
{% endblock %}
{% block footer %}{% endblock footer %}