{% extends 'home.html' %}
{% block banner %}{% endblock %}
{% block bodies %}

<section class="vh-100 gradient-custom mt-5 pt-5">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow" style="border-radius: 15px;">
            <div class="card-body">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Resend OTP</h3>
                 <p>A new OTP has been sent to your email address.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% for i in messages %}
                <script>
                  alert('{{ i }}')
                </script>
        {% endfor %}
{% endblock %}
{% block footer %}{% endblock %}