{% extends 'home.html' %}
{% load static %}


{% block banner %}  
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Shop Category</h2>
                            <p>Home <span>-</span> Shop Category</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end-->

{% endblock %}
{% block bodies %}
    <!--================User Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="{% url 'userproduct' 0 %}">All Categories</a>
                                    </li>
                                    {% for category in allcategory %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark bg-light" href="{% url 'userproduct' category.id %}" id="navbardrop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-chart-bar mr-3 text-primary fa-fw"></i> {{ category.name }}
                                        </a>
                                        {% comment %} <div class="dropdown-menu">
                                            {% for varient in category.productvarient_set.all %}
                                            <a class="dropdown-item" href="{% url 'userproduct' category.id %}?varientid={{ varient.id }}">{{ varient.varientname }}</a>
                                            {% endfor %}
                                        </div> {% endcomment %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>

                    </div>
                </div>
                <div class="col-lg-9">
                    {% comment %} <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex flex-row-reverse">
                                <div class="single_product_menu d-flex">
                                   <form method="GET" action="{% url 'search' %}">
                                    <div class="input-group">
                                        <input type="search" class="form-control" placeholder="search" aria-describedby="inputGroupPrepend" name="keyword">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><button type="submit"><i class="fa fa-search"></i></button></span>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}

                    <div class="row align-items-center latest_product_inner">
                        {% for j in page_obj %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                
                                <a href="{% url 'singleproduct' j.id %}"> <img src="{{ j.productimage_set.first.images.url }}" class="img-fluid" alt=""></a>
                                
                                <div class="single_product_text">
                                    <h4 class="text-center">{{ j.name }}</h4>
                                    <h3 class="text-center"> {{ j.price }}</h3>
                                    {% comment %} <ul class="d-flex  justify-content-between">
                                        <li><a href="{% url 'singleproduct' j.id %}"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="{% url 'add_to_wishlist' j.id %}"><i class="fa fa-heart"></i></a></li> 
                                        {% if j.stock == 0 %}
                                        <li><a ><i class="">Out of Stock</i></li>
                                        {% else %} 
                                        <li><a href="{% url 'addtocart' j.id %}"><i class="fa fa-shopping-cart"></i></li> 
                                        {% endif %} 
                                    </ul> {% endcomment %}
                                    {% comment %} <a href="{% url 'singleproduct' j.id %}">view more</a>
                                    <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        
                        <div class="col-lg-12 ">
                            <div class="pagination justify-content-center">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1" aria-label="First">
                                                    <i class="ti-angle-double-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                                    <i class="ti-angle-left"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for page in page_obj.paginator.page_range %}
                                            {% if page_obj.number == page %}
                                                <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                                    <i class="ti-angle-right"></i>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                                    <i class="ti-angle-double-right"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                      
                        
                       
                        {% comment %} <div class="col-lg-12">
                            <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="ti-angle-double-left"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li class="page-item"><a class="page-link" href="#">{{page_obj.number}}</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="ti-angle-double-right"></i>
                                            </a>
                                        </li>
                                        {% endif %} 
                                    </ul>
                                </nav>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End User Product Area =================-->


{% endblock %}





